/*
	Password Generator

	Supports generating passwords of unlimited length and selectable complexity.

	@author nrekow
	
*/
@CHARSET "UTF-8";

html, body, * {
	font-family: "Verdana", sans-serif;
	font-size: 9pt;
}

html, body {
	margin: 0 auto;
}

input[type=checkbox], label {
	cursor: pointer;
}

input[type=checkbox] {
	position: relative;
	top: 2px;
}

input[type=text], textarea, button {
	border-radius: 4px;
	border: 1px solid #ccc;
}

button {
	background-color: default;
	cursor: pointer;
	padding: 4px;
}

button:hover {
	background-color: #fff;
}

.alignLeft {
	text-align: left;
}
.alignRight {
	text-align: right;
}

.hidden {
	display: none;
}

#left, #right {
	width: 50%;
}

#left {
	float: left;
}

#right {
	float: right;
	position :relative;
	left: 4px;
	top: 2px;
}

#length {
	width: 24px;
	text-align: right;
}

#strength-meter {
	display: inline-block;
	position: relative;
	top: 1px;
	height: 6px;
	padding: 1px 2px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.strength {
	height: 6px;
	position: absolute;
	top: 1px;
	left: 2px;
}

#strength-weak {
	width: 33%;
	background-color: #f00;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}

#strength-fair {
	width: 66%;
	background-color: #ff0;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}

#strength-good {
	width: 99%;
	background-color: #0f0;
	border-radius: 4px;
}


#custom {
	width: 77%;
}

ul.inlinelist {
	display: table;
	padding: 0;
	width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

ul.inlinelist li {
	display: table-cell;
}


#box {
	/* center vertically */
	position: absolute;
	top: 50%;
	margin-top: -100px;

	background-color: #eee;
	border: 1px solid #ccc;
	border-radius: 4px;
	text-align: left;
	height: auto;
}


@media (max-width: 595px) { 
	#box {
		left: 0;
		margin-left: 0;
		width: auto;
		padding: 8px;
	}
	
	#strength-meter {
		left: 0;
		width: auto;
		min-width: 50%;
	}
	
	ul.inlinelist, ul.inlinelist li {
		display: block;
	}
}


@media (min-width: 596px) {
	#box {
		left: 50%;
		margin-left: -290px;
		width: 560px;
		padding: 8px;
	}
	
	#strength-meter {
		left: 7px;
		width: 186px;
	}
}


#result {
	width: 98%;
	height: 32px;
	padding: 4px;
	font-size: 12pt;
	text-align: center;
}
